div.tooltip {color: #fff;background-color: rgb(0,0,0,0.7);padding: .5em;border-radius: 2px;position: absolute;border: 1px solid black;max-width:225px;visibility:none;font-size:12px}
.tooltip p{margin:0;font-weight:300;margin-left:5pt}
.tooltip div{margin-bottom:5pt}
.legends{padding: 0 15pt;list-style: none;margin: 0;display: grid;grid-template-columns: repeat(2,1fr);}
.legends li {margin: 5px 0;text-transform: uppercase;display: block;font-size: 10px;}
.legends.map .legend{padding: 0 5px;}
.legend{padding: 1px 10px ;margin-right: 2px;border: 1px solid #000;}
.map-container{
    position: relative;
}
#map-world{
    cursor: grab;
    background-color: #fff;
}
.textCountry{
    fill: #fff;
}
.leaflet-control-container{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.leaflet-top-leaflet-left{
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    border-radius: 4px;
    cursor: pointer;
}
.leaflet-control-zoom{
    display: grid;
}
.leaflet-control-zoom a{
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.leaflet-control-zoom a:hover{
    background-color: #f4f4f4;
}
.leaflet-control-zoom a:first-child{
    border-bottom: 1px solid #ccc;
}
.box-inner{
    border: 1px solid #000;
    border-top: 5px solid #000;
    border-bottom: 3px solid #000;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}
.box-inner.close{
    max-height: 500px;
    overflow: hidden;
}
.more-btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #000;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.more-btn.close{
    background-color: unset;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1));
    height: 400px;
    padding-bottom: 10px;
}
.more-btn span{
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}
.more-btn span::before{
    content: "TUTUP \25B2";
}
.more-btn span.close::before{
    content: "BACA SELENGKAPNYA \25BC";
}
@media (max-width: 740px){
    .legends{position: unset;padding: 0;}
    .legends li{display: list-item;}
}